.master-container div {
    border: 0.5px solid black;
    padding: 2.54%;
    
}

div.master-container{
    display: grid;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 30vw;
    padding-left: 30vw;
    padding-right: 30vw;
}

.button-container{
    display: flex;
    justify-content: center;
}


